#frame
snippet frame
	\begin{frame}
	    \frametitle{${1:frametitle}}
	    ${2}
	\end{frame}


#what is wrong with this block thing?
snippet block
	\begin{block}{${1:block title}}
	    ${2:%block text}
	\end{block}


snippet uncover
	\uncover<${1:i-}>
	{
	    ${2:%uncover text}
	}

snippet ref
	(\ref{${1:<++>}})${2:<++>}


snippet cite
	(\cite{${1:<++>}})${2:<++>}

