backup/*
dd_/*
pp
swapdir/*
undodir/*

.VimballRecord

!backup
!swapdir
!undodir
d.1
dd_
view/

.netrwhist
**/doc/tags
**/doc/tags-ja
plugin/totd.vim

*.pyc

# tags*

tmp/

.yankring_history_v2.txt

colors/not_used/

._git/
.git/
.hg/
.svn/
.bzr/

.Powerline.cache
test/cur_color.vim
notused_plugins/frawor/test/
__pycache__/
.idea/
.vscode/

*.pdb
*.dll
*.exp
*.lib
*.so

log.txt
cache/
share/tmru/

**/vimproc/lib/
