backup/*
dd_/*
pp
swapdir/*
undodir/*

.VimballRecord

._git

!backup
!swapdir
!undodir
d.0
dd_
view/

.netrwhist
doc/tags
doc/tags-ja
plugin/totd.vim

ftplugin/latex-suite/bibtools.pyc 
ftplugin/latex-suite/outline.pyc

*.pyc

tags

.yankring_history_v2.txt

