backup/*
d/*
dd_/*
pp
swapdir/*
undodir/*

.VimballRecord

!backup
!swapdir
!undodir
d
dd_
view/

.netrwhist
doc/tags
doc/tags-ja
plugin/totd.vim

ftplugin/latex-suite/bibtools.pyc 
ftplugin/latex-suite/outline.pyc

*.pyc


