name: linux_vim

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        name: [vim-v91-x64, vim-v90-x64]
        include:
          - name: vim-v91-x64
            os: ubuntu-latest
            vim_version: 9.1.1864
            glibc_version: 2.34
          - name: vim-v90-x64
            os: ubuntu-latest
            vim_version: 9.0.2190
            glibc_version: 2.29
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y --no-install-recommends \
            libfuse2
      - name: Download vim
        shell: bash
        run: |
          mkdir -p ~/vim/bin
          curl -L https://github.com/vim/vim-appimage/releases/download/v${{matrix.vim_version}}/GVim-v${{matrix.vim_version}}.glibc${{matrix.glibc_version}}-x86_64.AppImage -o ~/vim/bin/vim
          chmod u+x ~/vim/bin/vim
      - name: Download test runner
        shell: bash
        run: git clone --depth 1 --branch v1.5.4 --single-branch https://github.com/thinca/vim-themis ~/themis
      - name: Run tests
        shell: bash
        run: |
          export PATH=~/vim/bin:$PATH
          export PATH=~/themis/bin:$PATH
          export THEMIS_VIM=vim
          vim --version
          themis --reporter spec
